In [1]:
import pandas as pd
import numpy as np

df=pd.read_csv("SES_data.csv")
df

,Geo_FIPS,Geo_QName,Geo_FILEID,Geo_STUSAB,Geo_SUMLEV,Geo_GEOCOMP,Geo_LOGRECNO,Geo_US,Geo_REGION,Geo_DIVISION,...,SE_A01004_002,SE_A01004_003,SE_A12001_001,SE_A12001_002,SE_A12001_003,SE_A12001_004,SE_A12001_005,SE_A12001_006,SE_A12001_007,SE_A12001_008
0,1001,"Autauga County, Alabama",ACSSF,al,50,0,13,NaN,NaN,NaN,...,37.9,39.2,39614,4126,12977,11367,6507,3649,524,464
1,1003,"Baldwin County, Alabama",ACSSF,al,50,0,14,NaN,NaN,NaN,...,42.0,44.6,161977,14555,44342,50518,33379,13884,3059,2240
2,1005,"Barbour County, Alabama",ACSSF,al,50,0,15,NaN,NaN,NaN,...,38.9,42.6,17995,4378,6600,5010,1212,520,164,111
3,1007,"Bibb County, Alabama",ACSSF,al,50,0,16,NaN,NaN,NaN,...,38.9,41.6,16057,3125,7052,3967,1276,476,93,68
4,1009,"Blount County, Alabama",ACSSF,al,50,0,17,NaN,NaN,NaN,...,39.7,42.5,40668,6650,14284,13673,3783,1812,286,180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3216,72145,"Vega Baja Municipio, Puerto Rico",ACSSF,pr,50,0,86,NaN,NaN,NaN,...,41.5,44.6,39632,9466,11932,9246,6627,1945,208,208
3217,72147,"Vieques Municipio, Puerto Rico",ACSSF,pr,50,0,87,NaN,NaN,NaN,...,40.9,45.9,5970,1613,2872,640,424,209,0,212
3218,72149,"Villalba Municipio, Puerto Rico",ACSSF,pr,50,0,88,NaN,NaN,NaN,...,40.7,42.9,15523,3329,5469,3392,2658,535,51,89
3219,72151,"Yabucoa Municipio, Puerto Rico",ACSSF,pr,50,0,89,NaN,NaN,NaN,...,43.7,46.0,22690,6097,6011,6631,3353,511,34,53
3220,72153,"Yauco Municipio, Puerto Rico",ACSSF,pr,50,0,90,NaN,NaN,NaN,...,43.7,47.6,25661,5684,8894,4432,5090,1075,134,352

In [2]:
renames={"SE_A00002_001":"total_population","SE_A00002_002":"population_density",
                      "SE_A14006_001":"Median_household_income","SE_A01004_001":"Median_age",
                      "SE_A12001_001":"population_25_older","SE_A12001_002":"less_than_high_school",
                      "SE_A12001_003":"high_school_graduate","SE_A12001_004":"some_college","SE_A12001_005":"bachelors_degree",
                     "SE_A12001_006":"masters_degree","SE_A12001_007":"professional_degree","SE_A12001_008":"doctorate_degree"}

df=df.rename(columns=renames)

df

,Geo_FIPS,Geo_QName,Geo_FILEID,Geo_STUSAB,Geo_SUMLEV,Geo_GEOCOMP,Geo_LOGRECNO,Geo_US,Geo_REGION,Geo_DIVISION,...,SE_A01004_002,SE_A01004_003,population_25_older,less_than_high_school,high_school_graduate,some_college,bachelors_degree,masters_degree,professional_degree,doctorate_degree
0,1001,"Autauga County, Alabama",ACSSF,al,50,0,13,NaN,NaN,NaN,...,37.9,39.2,39614,4126,12977,11367,6507,3649,524,464
1,1003,"Baldwin County, Alabama",ACSSF,al,50,0,14,NaN,NaN,NaN,...,42.0,44.6,161977,14555,44342,50518,33379,13884,3059,2240
2,1005,"Barbour County, Alabama",ACSSF,al,50,0,15,NaN,NaN,NaN,...,38.9,42.6,17995,4378,6600,5010,1212,520,164,111
3,1007,"Bibb County, Alabama",ACSSF,al,50,0,16,NaN,NaN,NaN,...,38.9,41.6,16057,3125,7052,3967,1276,476,93,68
4,1009,"Blount County, Alabama",ACSSF,al,50,0,17,NaN,NaN,NaN,...,39.7,42.5,40668,6650,14284,13673,3783,1812,286,180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3216,72145,"Vega Baja Municipio, Puerto Rico",ACSSF,pr,50,0,86,NaN,NaN,NaN,...,41.5,44.6,39632,9466,11932,9246,6627,1945,208,208
3217,72147,"Vieques Municipio, Puerto Rico",ACSSF,pr,50,0,87,NaN,NaN,NaN,...,40.9,45.9,5970,1613,2872,640,424,209,0,212
3218,72149,"Villalba Municipio, Puerto Rico",ACSSF,pr,50,0,88,NaN,NaN,NaN,...,40.7,42.9,15523,3329,5469,3392,2658,535,51,89
3219,72151,"Yabucoa Municipio, Puerto Rico",ACSSF,pr,50,0,89,NaN,NaN,NaN,...,43.7,46.0,22690,6097,6011,6631,3353,511,34,53
3220,72153,"Yauco Municipio, Puerto Rico",ACSSF,pr,50,0,90,NaN,NaN,NaN,...,43.7,47.6,25661,5684,8894,4432,5090,1075,134,352

In [3]:
df.columns

Index(['Geo_FIPS', 'Geo_QName', 'Geo_FILEID', 'Geo_STUSAB', 'Geo_SUMLEV',
       'Geo_GEOCOMP', 'Geo_LOGRECNO', 'Geo_US', 'Geo_REGION', 'Geo_DIVISION',
       'Geo_STATECE', 'Geo_STATE', 'Geo_COUNTY', 'Geo_COUSUB', 'Geo_PLACE',
       'Geo_TRACT', 'Geo_BLKGRP', 'Geo_CONCIT', 'Geo_AIANHH', 'Geo_AIANHHFP',
       'Geo_AIHHTLI', 'Geo_AITSCE', 'Geo_AITS', 'Geo_ANRC', 'Geo_CBSA',
       'Geo_CSA', 'Geo_METDIV', 'Geo_MACC', 'Geo_MEMI', 'Geo_NECTA',
       'Geo_CNECTA', 'Geo_NECTADIV', 'Geo_UA', 'Geo_UACP', 'Geo_CDCURR',
       'Geo_SLDU', 'Geo_SLDL', 'Geo_VTD', 'Geo_ZCTA3', 'Geo_ZCTA5',
       'Geo_SUBMCD', 'Geo_SDELM', 'Geo_SDSEC', 'Geo_SDUNI', 'Geo_UR',
       'Geo_PCI', 'Geo_TAZ', 'Geo_UGA', 'Geo_PUMA5', 'Geo_PUMA1', 'Geo_GEOID',
       'Geo_NAME', 'Geo_BTTR', 'Geo_BTBG', 'Geo_PLACESE', 'total_population',
       'population_density', 'SE_A00002_003', 'Median_household_income',
       'Median_age', 'SE_A01004_002', 'SE_A01004_003', 'population_25_older',
       'less_than_high_school', 'high_school_graduate', 'some_college',
       'bachelors_degree', 'masters_degree', 'professional_degree',
       'doctorate_degree'],
      dtype='object')

In [4]:
col_names = ["Geo_FIPS", "Geo_QName"] + list(renames.values())
df1 = df[col_names]

In [5]:
df1

,Geo_FIPS,Geo_QName,total_population,population_density,Median_household_income,Median_age,population_25_older,less_than_high_school,high_school_graduate,some_college,bachelors_degree,masters_degree,professional_degree,doctorate_degree
0,1001,"Autauga County, Alabama",58239,97.97023,62660.0,38.5,39614,4126,12977,11367,6507,3649,524,464
1,1003,"Baldwin County, Alabama",227131,142.86440,64346.0,43.4,161977,14555,44342,50518,33379,13884,3059,2240
2,1005,"Barbour County, Alabama",25259,28.54098,36422.0,40.2,17995,4378,6600,5010,1212,520,164,111
3,1007,"Bibb County, Alabama",22412,36.00497,54277.0,39.7,16057,3125,7052,3967,1276,476,93,68
4,1009,"Blount County, Alabama",58884,91.30850,52830.0,41.1,40668,6650,14284,13673,3783,1812,286,180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3216,72145,"Vega Baja Municipio, Puerto Rico",54544,1189.66500,21507.0,43.1,39632,9466,11932,9246,6627,1945,208,208
3217,72147,"Vieques Municipio, Puerto Rico",8317,163.75780,14942.0,43.6,5970,1613,2872,640,424,209,0,212
3218,72149,"Villalba Municipio, Puerto Rico",22341,626.91030,20722.0,42.0,15523,3329,5469,3392,2658,535,51,89
3219,72151,"Yabucoa Municipio, Puerto Rico",31047,562.29680,17267.0,44.9,22690,6097,6011,6631,3353,511,34,53
3220,72153,"Yauco Municipio, Puerto Rico",34704,512.52750,16444.0,45.5,25661,5684,8894,4432,5090,1075,134,352

In [6]:
df1["percent_high_school_graduate"]=df1["high_school_graduate"]/df1["population_25_older"]
df1["percent_some_college_education_or_more"]=(df1['some_college']+df1['bachelors_degree']+df1['masters_degree']+df1[ 'professional_degree']+df1['doctorate_degree'])/df1["population_25_older"]
df1

C:\Users\Charles Alba\AppData\Local\Temp\ipykernel_11300\2033073598.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["percent_high_school_graduate"]=df1["high_school_graduate"]/df1["population_25_older"]
C:\Users\Charles Alba\AppData\Local\Temp\ipykernel_11300\2033073598.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["percent_some_college_education_or_more"]=(df1['some_college']+df1['bachelors_degree']+df1['masters_degree']+df1[ 'professional_degree']+df1['doctorate_degree'])/df1["population_25_older"]

,Geo_FIPS,Geo_QName,total_population,population_density,Median_household_income,Median_age,population_25_older,less_than_high_school,high_school_graduate,some_college,bachelors_degree,masters_degree,professional_degree,doctorate_degree,percent_high_school_graduate,percent_some_college_education_or_more
0,1001,"Autauga County, Alabama",58239,97.97023,62660.0,38.5,39614,4126,12977,11367,6507,3649,524,464,0.327586,0.568259
1,1003,"Baldwin County, Alabama",227131,142.86440,64346.0,43.4,161977,14555,44342,50518,33379,13884,3059,2240,0.273755,0.636387
2,1005,"Barbour County, Alabama",25259,28.54098,36422.0,40.2,17995,4378,6600,5010,1212,520,164,111,0.366769,0.389942
3,1007,"Bibb County, Alabama",22412,36.00497,54277.0,39.7,16057,3125,7052,3967,1276,476,93,68,0.439185,0.366195
4,1009,"Blount County, Alabama",58884,91.30850,52830.0,41.1,40668,6650,14284,13673,3783,1812,286,180,0.351234,0.485246
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3216,72145,"Vega Baja Municipio, Puerto Rico",54544,1189.66500,21507.0,43.1,39632,9466,11932,9246,6627,1945,208,208,0.301070,0.460083
3217,72147,"Vieques Municipio, Puerto Rico",8317,163.75780,14942.0,43.6,5970,1613,2872,640,424,209,0,212,0.481072,0.248744
3218,72149,"Villalba Municipio, Puerto Rico",22341,626.91030,20722.0,42.0,15523,3329,5469,3392,2658,535,51,89,0.352316,0.433228
3219,72151,"Yabucoa Municipio, Puerto Rico",31047,562.29680,17267.0,44.9,22690,6097,6011,6631,3353,511,34,53,0.264918,0.466373
3220,72153,"Yauco Municipio, Puerto Rico",34704,512.52750,16444.0,45.5,25661,5684,8894,4432,5090,1075,134,352,0.346596,0.431901

In [7]:
df1 = df1.drop(columns=['population_25_older', 'less_than_high_school',"high_school_graduate","some_college","bachelors_degree"
                       ,"masters_degree","professional_degree","doctorate_degree"])
df1

,Geo_FIPS,Geo_QName,total_population,population_density,Median_household_income,Median_age,percent_high_school_graduate,percent_some_college_education_or_more
0,1001,"Autauga County, Alabama",58239,97.97023,62660.0,38.5,0.327586,0.568259
1,1003,"Baldwin County, Alabama",227131,142.86440,64346.0,43.4,0.273755,0.636387
2,1005,"Barbour County, Alabama",25259,28.54098,36422.0,40.2,0.366769,0.389942
3,1007,"Bibb County, Alabama",22412,36.00497,54277.0,39.7,0.439185,0.366195
4,1009,"Blount County, Alabama",58884,91.30850,52830.0,41.1,0.351234,0.485246
...,...,...,...,...,...,...,...,...
3216,72145,"Vega Baja Municipio, Puerto Rico",54544,1189.66500,21507.0,43.1,0.301070,0.460083
3217,72147,"Vieques Municipio, Puerto Rico",8317,163.75780,14942.0,43.6,0.481072,0.248744
3218,72149,"Villalba Municipio, Puerto Rico",22341,626.91030,20722.0,42.0,0.352316,0.433228
3219,72151,"Yabucoa Municipio, Puerto Rico",31047,562.29680,17267.0,44.9,0.264918,0.466373
3220,72153,"Yauco Municipio, Puerto Rico",34704,512.52750,16444.0,45.5,0.346596,0.431901

In [8]:
df1.to_csv("census_data_2.csv")